In [1]:
import pandas as pd

unemployed_df = pd.read_csv('https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv', sep=';')
unemployed_df

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Period,Unnamed: 9
0,39809862,1,2001,8896,25762,6696,824,34658,Декабрь,NaN
1,64592413,3,2003,8679,24967,6226,1155,33646,Декабрь,NaN
2,64592414,4,2004,9822,25239,7318,1411,35061,Декабрь,NaN
3,64592415,5,2005,10844,23597,6890,1531,34441,Декабрь,NaN
4,64592416,6,2006,11041,22928,6604,1671,33969,Декабрь,NaN
...,...,...,...,...,...,...,...,...,...,...
96,918869066,101,2019,13123,16904,3103,575,30027,Февраль,NaN
97,918869067,102,2019,13433,17164,3102,593,30597,Март,NaN
98,926094627,103,2019,13803,17319,3060,593,31122,Апрель,NaN
99,933200250,104,2019,12818,16221,2711,577,29039,Май,NaN
100,933200260,105,2019,12260,15769,2545,576,28029,Июнь,NaN

Найдите, с какого года процент людей с ограниченными возможностями (UnemployedDisabled) среди всех безработных (UnemployedTotal) стал меньше 2%.

In [2]:
unemployed_df[
    (unemployed_df['UnemployedDisabled'] / unemployed_df['UnemployedTotal'] * 100) < 2
]['Year'].sort_values().iloc[0]

2018